{% extends 'base.html' %}
{% block content %}
{% load static %}
<main id="main">

    <!-- ======= Weekly Trend Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" style="text-align: center;">
          <h2>회원가입</h2><br><br>
            <form method="POST">
                {% csrf_token %}
                이메일&nbsp&nbsp&nbsp&nbsp
                <input name="email" type="email" placeholder="email">
                <br><br>
                아이디&nbsp&nbsp&nbsp&nbsp
                <input name="user_id" type="text" placeholder="id">
                <br><br>
                비밀번호&nbsp&nbsp&nbsp&nbsp
                <input name="user_pw" type="password" placeholder="password">
                <br><br>
                비밀번호 확인&nbsp&nbsp&nbsp&nbsp
                <input name="repeat_pw" type="password" placeholder="repeat password">
                <br><br>
                <input type="submit" class="btn btn-outline-danger"  value="Sign Up">
            </form>
        </div>
      </div>
    </section>
</main>
{% endblock %}




