{% extends 'base.html' %}
{% block content %}
{% load static %}
<main id="main">

  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>영화 상세 정보</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>영화 상세 정보</li>
        </ol>
      </div>

    </div>
  </section>

  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="portfolio-details-container" data-aos="fade-up" data-aos-delay="100">

        <div class="owl-carousel portfolio-details-carousel">
          <img src="https://image.tmdb.org/t/p/w500/{{movieData.backdrop_path}}" alt="">
        </div>

        <div class="portfolio-info">
          <h3>{{movieData.title}}</h3>
          <ul>
            <li><strong>개봉&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong> {{movieData.release_date}}</li>
            <li><strong>상영여부&nbsp&nbsp</strong> {{movieData.status}}</li>
            <li><strong>러닝타임&nbsp&nbsp</strong> {{movieData.runtime}} 분 </li>
            <li><strong>평점&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong> {{movieData.vote_average}}</li>
          </ul>
        </div>

      </div>

      <div class="portfolio-description">
        <h4><strong>소개</strong></h4>
        <br>
        <p>
            {{movieData.overview}}
        </p>
      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock %}

