{% extends 'base.html' %}
{% block content %}
{% load static %}
<main id="main">

  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>영화 상세 정보</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>영화 상세 정보</li>
        </ol>
      </div>

    </div>
  </section>

      <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="https://image.tmdb.org/t/p/w500/{{movieData.backdrop_path}}" alt="">
                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>{{movieData.title}}</h3>
              <ul>
                <li><strong>개봉&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong> {{movieData.release_date}}</li>
                <li><strong>상영여부&nbsp&nbsp</strong>{{movieData.status}}</li>
                <li><strong>러닝타임&nbsp&nbsp</strong>{{movieData.runtime}}분</li>
                <li><strong>평점&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong>{{movieData.vote_average}}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>소개</h2>
              <p>
                {{movieData.overview}}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
</main><!-- End #main -->
{% endblock %}