{% extends 'base.html' %}
{% block content %}
{% load static %}
<main id="main">

    <!-- ======= Weekly Trend Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Weekly Trend Movies</h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">전체</li>
              <li data-filter=".filter-app">개봉일 순</li>
              <li data-filter=".filter-card">별점 순</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for o in movie_list %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <a href="{% url 'detail' o.id %}"><img src="https://image.tmdb.org/t/p/w500/{{o.backdrop_path}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{o.title}}</h4>
              <p>개봉일 {{o.release_date}}</p>
              <p>평점 {{o.vote_average}}</p>
<!--              <img src="https://image.tmdb.org/t/p/w500/{{o.backdrop_path}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>-->
              <a href="{% url 'detail' o.id %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->

   <!-- ======= Search Section ======= -->
    <section id="cto" class="cta">
      <div class="container">
        <div class="text-center">
          <h3>Search</h3>
          <form action="" method="POST">
            {%csrf_token %}
            {{form}}
            <input type="submit"  value="검색"></a>
          </form>
        </div>
      </div>

    </section>
    <!-- End Search Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <h3>The people <span> Created the project</span></h3>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'assets/img/team/person-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>나영현</h4>
                <span>Student - Project Developer</span>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'assets/img/team/person-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>한종대 교수님</h4>
                <span>Professor</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
  </main><!-- End #main -->
  {% endblock %}










